@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
html , body {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
.card {
    border-radius: 20px;
    border:10px solid #042A2B ;
    height: 380px;
    width: 250px;
    background-color: #fff;
    padding: 15px;
    text-align: center;
   
}

.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position:center;
    border-radius: 10px;
    
}
.card h1{
    font-family: poppins;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 700;
}
.card h5{
    font-family: poppins;
    font-size: 25px;
    color: red;
    margin-bottom: 25px;
}
.card button {
    background-color: cadetblue;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    padding: 12px  20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}